{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <button type="button" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#dartModal" >
                    Throw a Dart
                </button>
                {% for dart in darts %}
                        <div class="card border-secondary mb-3 col-10">
                            <h5 class="card-header p-0 m-0" style="height: 50px">
                                <img src="{{ dart.user.profile.profile_image.url }}" class="h-100 img-thumbnail rounded-circle" alt="{{ dart.user.first_name }} {{ dart.user.last_name }}'s Profile Photo">
                                <a href="{% url 'profile' dart.user.id %}">@{{ dart.user.username|lower }}</a>
                                {{ dart.title }}
                            </h5>
                            <div class="card-body text-secondary">
                                <h5 class="card-title">{{ dart.description }}</h5>
                                <p class="card-text">
                                    <pre class="border border-secondary p-1"><code>{{ dart.code_block }}</code></pre>

                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">posted: {{ dart.date_created }}</small></p>
                            </div>

                            <div class="card-footer bg-transparent border-secondary">
                                <a href="#" class="like-btn {% if request.user in dart.likes.all %}text-danger{% else %}text-muted{% endif %}" data-dart-id="{{ dart.id }}" style="text-decoration: none !important;"">
                                    <i class="fa-solid fa-heart"></i>
                                    <span class="likes-count text-dark" style="text-decoration: none !important;"> {{ dart.likes.count }}</span>
                                </a>
                                ||
                                <a href="#" class="dislike-btn {% if request.user in dart.dislikes.all %}text-danger{% else %}text-muted{% endif %}" data-dart-id="{{ dart.id }}" style="text-decoration: none !important;"">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                    <span class="dislikes-count text-dark"> {{ dart.dislikes.count }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            <div class="col-md-4">
                
                <div id="news-stories">
                    <h2>Latest From <a href="https://news.ycombinator.com/" class="text-decoration-none">Hacker News</a></h2>
                    <!-- News stories will be loaded here -->
                </div>
            </div>  
        </div>  
    </div>
    
<!-- Modal -->
<div class="modal fade" id="dartModal" tabindex="-1" aria-labelledby="dartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dartModalLabel">Throw A Dart</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            {% if form %}
            <form method=POST>
                {% csrf_token %}
                <div class="modal-body">            
                    <div>        
                        {{ form.title }}<br />
                        {{ form.title.errors }}
                    </div>
                    <div>
                        {{ form.description }}<br />
                    </div>
                    <div>
                        {{ form.code_language }}<br />
                    </div>
                    <div>
                        {{ form.code_block }}<br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" style="">Throw</button>
                </div>  
            </form>
            {% endif %}
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
    var likeButtons = document.querySelectorAll('.like-btn');
    var dislikeButtons = document.querySelectorAll('.dislike-btn');
    
    var csrfToken = '{{ csrf_token }}';

    function toggleButtonState(button, isActive, colorClass) {
        allColorClasses = ['text-success', 'text-danger', 'text-warning'];
        if (isActive) {
            button.classList.add(colorClass);
            button.classList.remove("text-muted");
        } else {
            button.classList.add("text-muted");
            button.classList.remove(...allColorClasses);
        }
    }

    likeButtons.forEach(function(button) {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            var dartId = this.getAttribute('data-dart-id');
            var url = `{% url 'dart_like' 0 %}`.replace('/0/', `/${dartId}/`);

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({'dart_id': dartId})
            })
            .then(response => response.json())
            .then(data => {
                var card = this.closest('.card');
                var dislikesCountElem = card.querySelector('.dislikes-count');
                var likesCountElem = card.querySelector('.likes-count');

                likesCountElem.textContent = data.likes_count;
                dislikesCountElem.textContent = data.dislikes_count;

                var dislikeButton = card.querySelector('.dislike-btn');
                toggleButtonState(this, data.liked, 'text-danger');
                toggleButtonState(dislikeButton, false, null);
            });
        });
    });

    dislikeButtons.forEach(function(button) {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            var dartId = this.getAttribute('data-dart-id');
            var url = `{% url 'dart_dislike' 0 %}`.replace('/0/', `/${dartId}/`);

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({'dart_id': dartId})
            })
            .then(response => response.json())
            .then(data => {
                var card = this.closest('.card');
                var likesCountElem = card.querySelector('.likes-count');
                var dislikesCountElem = card.querySelector('.dislikes-count');

                likesCountElem.textContent = data.likes_count;
                dislikesCountElem.textContent = data.dislikes_count;

                var likeButton = card.querySelector('.like-btn');
                toggleButtonState(this, data.disliked, 'text-warning');
                toggleButtonState(likeButton, false, null);
            })
        });
    });
});

document.addEventListener('DOMContentLoaded', function() {
    fetch('/fetch-news/')
    .then(response => response.json())
    .then(data => {
        let newsContainer = document.getElementById('news-stories');
        data.news.forEach(story => {
            let storyElement = document.createElement('div');
            storyElement.innerHTML = `
            <a href="${story.url}" target="_blank" class="text-decoration-none">
            <div class="card border border-secondary rounded my-1 hover-overlay">
                <h3>${story.title}</h3>
                <p>${story.by}</p>
                </div>
                </a>
            `;
            newsContainer.appendChild(storyElement);
        });
    });
});

</script>
    
    


{% endblock %}