<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Codart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_list' %}">Profile List</a>
                </li>
            
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' request.user.id %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
                </li>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show mb-0 pt-1 pb-1" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            
            </ul>
        
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bolder" id="loginModalLabel">Welcome to Codart</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-8 offset-md-3">
                            <h1> You are already logged in </h1>
                            <br/>
                            <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
                        </div>
                    {% else %}
                        <div class="col-6 offset-md-3">    
                            <form method=POST action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                                </div>
                                <button type="submit" class="btn btn-outline-secondary">
                                    Login
                                </button>
                                <br />
                                Not a user?  <a href="" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a> now to join the community.
                            </form>
                        </div>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bolder" id="registerModalLabel">Join Codart today!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-8 offset-md-3">
                            <h1> You are already logged in </h1>
                            <br/>
                            <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
                        </div>
                    {% else %}
                        <div class="col-6 offset-md-3">    
                            <form method=POST action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="first_name" placeholder="Enter your first name">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="last_name" placeholder="Enter your last name">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password1" placeholder="Enter your password">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password2" placeholder="Confirm your password">
                                </div>
                                <button type="submit" class="btn btn-outline-secondary">
                                    Register
                                </button>
                                <br />
                                Already a user? <a href="" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a> now to join the community.
                            </form>
                        </div>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
</div>