{% extends 'base.html' %}
{% block content %}

{% if profile %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>{{ profile.user.first_name }}'s profile</h1>
                <span class="badge bg-secondary">{{ profile.user.email }}</span>
                <span class="badge bg-secondary">{{ profile.date_modified }}</span>
                
                <br/><br/>
                {% if darts %}
                    <h3>Darts</h3>
                    {% for dart in darts %}
                    <div class="card border-secondary mb-3 col-8">
                        <h5 class="card-header p-0 m-0" style="height: 50px">
                            <img src="{{ dart.user.profile.profile_image.url }}" class="h-100 img-thumbnail rounded-circle" alt="{{ dart.user.first_name }} {{ dart.user.last_name }}'s Profile Photo">
                            <a href="{% url 'profile' dart.user.id %}">@{{ dart.user.username|lower }}</a>
                            {{ dart.title }}
                        </h5>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">{{ dart.description }}</h5>
                            <p class="card-text">
                                <code>
                                {{ dart.code_block }} { white-space: pre }
                                </code>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">posted: {{ dart.date_created }}</small></p>
                        </div>

                        <div class="card-footer bg-transparent border-secondary">
                            {% if user in dart.likes.all %} 
                                <a href="{% url 'dart_like' dart.id %}"><i class="fa-solid fa-heart" style="color: red"></i></a>
                            {% else %}
                                <a href="{% url 'dart_like' dart.id %}"><i class="fa-solid fa-heart" style="color: lightgrey"></i></a>
                            {% endif %}
                            {{ dart.likes.count }}
                            ||
                            {% if user in dart.dislikes.all %} 
                                <a href="{% url 'dart_dislike' dart.id %}"><i class="fa-solid fa-thumbs-down" style="color: black"></i></a>
                            {% else %}
                                <a href="{% url 'dart_dislike' dart.id %}"><i class="fa-solid fa-thumbs-down" style="color: lightgrey"></i></a>
                            {% endif %}
                            {{ dart.dislikes.count }}
                            {% if request.user.id == dart.user.id %}
                            ||
                                <a href="{% url 'delete_dart' dart.id %}"><i class="fa-solid fa-trash-can" style="color: green"></i></a>
                            ||
                                <a href="{% url 'edit_dart' dart.id %}"><i class="fa-solid fa-pencil" style="color: blue"></i></a>
                            {% endif %}
                        </div>  
                    </div>
                {% endfor %}
                    
                {% else %}
                    <h3>No Darts</h3>
                {% endif %}
            </div>

            <div class="col-4 text-center">

                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class="col-6 img-thumbnail rounded-pill" alt="Profile Image">
                {% endif %}

                <br/>
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">Follows</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for follow in profile.follow.all %}
                                <a href = "{% url 'profile' follow.user.id %}">{{ follow }}</a><br/>
                            {% endfor %}            
                        </p>
                    </div>
                </div>
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">Followed By</h5>
                    <div class="card-body">
                        <p class="card-text">
                            {% for followed_by in profile.followed_by.all %}
                            <a href = "{% url 'profile' followed_by.user.id %}">{{ followed_by }}</a><br/>
                            {% endfor %}            
                        </p>
                    </div>
                </div>
                <br/>
                <form method=POST>
                    {% csrf_token %}
                    {% if profile in user.profile.follow.all %}
                        <button class="btn btn-outline-danger" name="follow" value="unfollow">Unfollow {{ profile.user.username }}</button>
                    {% else %}
                        <button class="btn btn-outline-success" name="follow" value="follow">Follow {{ profile.user.username }}</button>
                    {% endif %}
                </form>
                <br/>

                {% if request.user.id == profile.user.id %}
                    <a href="{% url 'edit_profile' %}" class="btn btn-outline-secondary">Edit Profile</a>
                    <a href="{% url 'delete_profile' %}" class="btn btn-outline-danger">Delete Profile</a>
                {% endif %}

            </div>
        </div>
    </div>  


{% endif %}
{% endblock %}