{% extends 'base.html' %}
{% block content %}

{% if profile %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>{{ profile.user.first_name }}'s profile</h1>
                <span class="badge bg-secondary">{{ profile.user.email }}</span>
                <span class="badge bg-secondary">{{ profile.date_modified }}</span>
                
                <br/><br/>
                {% if darts %}
                    {% for dart in darts %}
                    <div class="card border-secondary mb-3 col-8">
                        <h5 class="card-header p-0 m-0" style="height: 50px">
                            <img src="{{ dart.user.profile.profile_image.url }}" class="h-100 img-thumbnail rounded-circle" alt="{{ dart.user.first_name }} {{ dart.user.last_name }}'s Profile Photo">
                            <a href="{% url 'profile' dart.user.id %}">@{{ dart.user.username|lower }}</a>
                            {{ dart.title }}
                        </h5>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">{{ dart.description }}</h5>
                            <p class="card-text">
                                    <pre class="border border-secondary p-1"><code>{{ dart.code_block }}</code></pre>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">posted: {{ dart.date_created }}</small></p>
                        </div>

                        <div class="card-footer bg-transparent border-secondary">
                            <a href="#" class="like-btn {% if request.user in dart.likes.all %}text-danger{% else %}text-muted{% endif %}" data-dart-id="{{ dart.id }}" style="text-decoration: none !important;"">
                                <i class="fa-solid fa-heart"></i>
                                <span class="likes-count text-dark" style="text-decoration: none !important;"> {{ dart.likes.count }}</span>
                            </a>
                            ||
                            <a href="#" class="dislike-btn {% if request.user in dart.dislikes.all %}text-danger{% else %}text-muted{% endif %}" data-dart-id="{{ dart.id }}" style="text-decoration: none !important;"">
                                <i class="fa-solid fa-thumbs-down"></i>
                                <span class="dislikes-count text-dark"> {{ dart.dislikes.count }}</span>
                            </a>
                            {% if request.user.id == dart.user.id %}
                            ||
                                <a href="{% url 'delete_dart' dart.id %}"><i class="fa-solid fa-trash-can" style="color: green"></i></a>
                            ||
                                <a href="{% url 'edit_dart' dart.id %}"><i class="fa-solid fa-pencil" style="color: blue"></i></a>
                            {% endif %}
                        </div>  
                    </div>
                {% endfor %}
                    
                {% else %}
                    <h3>No Darts</h3>
                {% endif %}
            </div>

            <div class="col-4 text-center">

                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class="col-6 img-thumbnail rounded-pill" alt="Profile Image">
                {% endif %}

                <br/>
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">
                        User Details
                        {% if request.user.id == profile.user.id %}
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editModal">
                                Edit
                            </button>
                        {% endif %}
                    </h5>
                    <div class="card-body">
                        <p class="card-text text-start">
                            <span class="">Username: {{ user.username }}</span><br/>
                            <span class="">Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</span><br/>
                            <span class="">E-Mail: {{ profile.user.email }}</span><br/>
                            <span class="">Last updated: {{ profile.date_modified }}</span><br/>
                        </p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">Followed By</h5>
                    <div class="card-body p-0">
                            {% for followed_by in profile.followed_by.all %}
                                {% if followed_by.user.id != profile.user.id %}
                                <div class="row">
                                    <div class="col-6 text-end pr-1">
                                        <a href = "{% url 'profile' followed_by.user.id %}">@{{ followed_by.user.username }}</a>
                                    </div>
                                    <div class="col-6 text-start p-0">
                                        {{ followed_by.user.first_name }} {{ followed_by.user.last_name }}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <br/>
                <div class="card border-secondary mb-3">
                    <h5 class="card-header">Following</h5>
                    <div class="card-body p-0">
                            {% for follow in profile.follow.all %}
                                {% if follow.user.id != profile.user.id %}
                                <div class="row">
                                    <div class="col-6 text-end pr-1">
                                        <a href = "{% url 'profile' follow.user.id %}">@{{ follow.user.username }}</a>
                                    </div>
                                    <div class="col-6 text-start p-0">
                                        {{ follow.user.first_name }} {{ follow.user.last_name }}
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
                <br/>
                <form method=POST>
                    {% csrf_token %}
                    {% if profile in user.profile.follow.all %}
                        <button class="btn btn-outline-danger" name="follow" value="unfollow">Unfollow {{ profile.user.username }}</button>
                    {% else %}
                        <button class="btn btn-outline-success" name="follow" value="follow">Follow {{ profile.user.username }}</button>
                    {% endif %}
                </form>
                <br/>
            </div>
        </div>
    </div>  
 
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bolder" id="editModalLabel">Editing your user details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-12">
                                <form method=POST action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        Username<input type="text" class="form-control" name="username" value="{{ user.username }}">
                                    </div>
                                    <div class="mb-3">
                                        E-Mail<input type="email" class="form-control" name="email" value="{{ user.email }}">
                                    </div>
                                    <div class="mb-3">
                                        First Name<input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                                    </div>
                                    <div class="mb-3">
                                        Last Name<input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                                    </div>
                                    <div class="mb-3">
                                        Profile Image<input type="file" class="form-control" name="profile_image" value="{{ user.profile_image }}">
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary">
                                        Submit Changes
                                    </button>
                                    {% if request.user.id == profile.user.id %}
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteAccountModal">
                                        Delete Account
                                    </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                                        Cancel
                                    </button>

                                </form>
                                <br />
                            </div>
                        {% else %}
                            <div class="col-8 offset-md-3">
                                <h1> You are already logged in </h1>
                                <br/>
                                <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
                            </div>
                        {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteAccountModal" tabindex="-1" aria-labelledby="confirmDeleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bolder" id="confirmDeleteAccountModalLabel">Are you sure you want to delete your account?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form method=POST action="{% url 'delete_profile' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">
                                    Yes, I'm sure
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                                    No, I changed my mind
                                </button>
                            </form>
                            <br />
                        </div>
                    </div>


{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var likeButtons = document.querySelectorAll('.like-btn');
        var dislikeButtons = document.querySelectorAll('.dislike-btn');
        
        var csrfToken = '{{ csrf_token }}';
    
        function toggleButtonState(button, isActive, colorClass) {
            allColorClasses = ['text-success', 'text-danger', 'text-warning'];
            if (isActive) {
                button.classList.add(colorClass);
                button.classList.remove("text-muted");
            } else {
                button.classList.add("text-muted");
                button.classList.remove(...allColorClasses);
            }
        }
    
        likeButtons.forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                var dartId = this.getAttribute('data-dart-id');
                var url = `{% url 'dart_like' 0 %}`.replace('/0/', `/${dartId}/`);
    
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({'dart_id': dartId})
                })
                .then(response => response.json())
                .then(data => {
                    var card = this.closest('.card');
                    var dislikesCountElem = card.querySelector('.dislikes-count');
                    var likesCountElem = card.querySelector('.likes-count');
    
                    likesCountElem.textContent = data.likes_count;
                    dislikesCountElem.textContent = data.dislikes_count;
    
                    var dislikeButton = card.querySelector('.dislike-btn');
                    toggleButtonState(this, data.liked, 'text-danger');
                    toggleButtonState(dislikeButton, false, null);
                });
            });
        });
    
        dislikeButtons.forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                var dartId = this.getAttribute('data-dart-id');
                var url = `{% url 'dart_dislike' 0 %}`.replace('/0/', `/${dartId}/`);
    
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({'dart_id': dartId})
                })
                .then(response => response.json())
                .then(data => {
                    var card = this.closest('.card');
                    var likesCountElem = card.querySelector('.likes-count');
                    var dislikesCountElem = card.querySelector('.dislikes-count');
    
                    likesCountElem.textContent = data.likes_count;
                    dislikesCountElem.textContent = data.dislikes_count;
    
                    var likeButton = card.querySelector('.like-btn');
                    toggleButtonState(this, data.disliked, 'text-warning');
                    toggleButtonState(likeButton, false, null);
                })
            });
        });
    });
    
        </script>
   
{% endblock %}